.hero {
    background: black;
    padding-top: 200px;
    padding-left: 90px;
    padding-bottom: 200px;
    position: relative;

    display: grid;
    grid-template-columns: 70% 30%;
}

.block-txt-hero {
    position: relative;
    z-index: 10;
}
.block-img-hero {
    position: absolute;
    right: 45px;
    top: 0;
    z-index: 1;
}
.block-img-hero img {
    z-index: -3;
    
}
.block-txt-hero h2 {
    margin-bottom: 40px;
}
.team {
    display: grid;
    grid-template-columns: 50% 50%;
}
.team > div {
    background: #A82424;
}

.card{
    padding: 16px;
    padding-bottom: 40px;
    border-radius: 24px;
}
.card img{
    margin-bottom: 32px;
    
}
.card .infos{
    margin-bottom: 25px;
    
}

.section-card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
}
.partenaire{
    padding: 5rem;
    padding-top: 2rem;
    position: relative;
    
    

}
.partenaire h2{
margin-bottom: 2rem;

}
.partenaire div{
    
    display: flex;
    justify-content: center;
    

}
.button-actu{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.pokemon{

padding-top: 3rem;

}
.m-t-b-50{
    margin-top: 50px;
    margin-bottom: 50px;
}
.txt-b{

    color: black;
}