.section-pokemon{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    row-gap: 50px;
}

.section-pokemon>* {
    flex: 3 4 33%;
}


.page .page-numbers {
    color: black;
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 6px;
}

.paginate{
    margin: 0 auto;
    width: auto; 
    text-align: center;
    margin-bottom: 10px;
}
.pokedex{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

h1{
    font-family: 'Montserrat';
    font-weight: bold;
    color: #A82424;
    position: relative;
    margin: 32px;
    font-size: 30px;
}

h2{
    font-size: 16px;
    margin-left: 32px;
    margin-top: 20px;
}

.section-search{
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    margin-top: 20px;
}

.barre{
    width: 80%;

}

x-btn, .button, [type="submit"] {
    color: black;
    border-color: black;
    background-color: transparent;
    margin-bottom: 0.25em;
    text-shadow: 0 0.075em 0.075em rgb(0 0 0 / 50%);
    box-shadow: 0 0.25em 0 0 transparent, 0 4px 9px rgb(0 0 0 / 15%);
   
    border-radius: 0.1em;
}
